

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #c5dcf3; 
    color: white;
}

form {
    margin: auto;
    background-color: #1e2022; /* Dark color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(231, 222, 222, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #2a2a56; /* Dark color */
}

fieldset {
    border: 2px solid #5da8db; /* Blue border */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #134d88;

}

legend {
    font-style: italic;
    text-align: left;
    color: #ecf0f1; /* Light color */
    text-align: center;
    font-size:x-large;
}

label {
    display: block;
    margin-top: 10px;
    color: #ecf0f1;
    font-size: large;
}

input, textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid #92cdf5;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: #295a7a; /*Dark Blue */
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(188, 176, 176, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #113750; /* Dark Blue */
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #162834;
    border-radius: 8px;
    background-color: #8b98a5;
    box-shadow: 0 4px 8px rgba(239, 171, 171, 0.5);
}

#resume-display h2 {
    color: white;
}